<div id="templatemo_footer">
    <ul class="footer_menu">
        <li><a href="/TrangChu/Xem">Trang Chủ</a></li>
        <li><a href="/KhoSach/DuyetKhoSach">Kho Sách</a></li>
        <li><a href="/TacGia/Xem">Tác Giả</a></li>
        @if (Session["phanquyen"].ToString() == "a" || Session["phanquyen"].ToString() == "ma")
        {
            <li><a href="/Admin/Xem">Admin</a></li>
        }
        <li class="last_menu"><a href="/LienHe/Xem">Liên Hệ</a></li>
    </ul>

    Copyright © 2015 <a href="https://www.facebook.com/groups/1052720381428490/">Thư Viện Thông Tin Học - Quản Trị Thông Tin K29</a>
</div>
