<h2>Nhận Bản Tin</h2>

<div class="sidebar_section_content">
    <form action="#" method="get">
        <label>Vui lòng nhập địa chỉ email của bạn để nhận các thông tin mới nhất từ chúng tôi.</label>
        <input type="text" value="" name="txt_email" size="10" id="input_field" title="Email" />
        <input type="submit" name="subscribe" value="Đăng Ký" alt="Đăng Ký" id="submit_btn" title="Đăng Ký" />
    </form>
    <div class="cleaner"></div>
</div>
