
@{
    Layout = null;
}

<div id="sidebar">
    <ul class="sideNav">
        <li><a href="/QuanTri/QuanLyDauSach">Quản lý đầu sách</a></li>
        <li><a href="/QuanTri/ThemMoiDauSach">Thêm mới đầu sách</a></li>
        <li><a href="/QuanTri/QuanLyTacGia">Quản lý tác giả</a></li>
        <li><a href="/QuanTri/ThemMoiTacGia">Thêm mới tác giả</a></li>
        <li><a href="/QuanTri/QuanLyMuonSach">Quản lý mượn sách</a></li>
        <li><a href="/TrangChu">Thoát</a></li>
    </ul>
</div>
