
@{
    ViewBag.Title = "Trang Cá Nhân";
}

@section sidebar_section
{
    
}
<h2>Trang Cá Nhân của @Session["hovaten"]</h2>
<img style="width:300px; height:300px;" src="~/Content/Upload/Avata/@Session["anhdaidien"]"/>
