
@{
    ViewBag.Title = "Trang Chủ";
}

@section sidebar_section
{
    @Html.Partial("~/Views/Shared/Components/Library/sidebar_section.cshtml");
}

<div class="content_section">

    <h2>Sách Mới</h2>
        <div class="product_box margin_r10">
            <h3>Tên sách</h3>
            <img src="#" alt="product" />
            <p class="author">Tác giả</p>
            <a href="#">Xem</a> | <a href="#">Thêm vào giỏ sách</a>
        </div>
    <div class="cleaner"></div>

    <div class="button_01"><a href="#">Xem Tất Cả</a></div>

</div>

<div class="cleaner_h40"></div>

